[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/tracy"]
	path = External/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/imnodes"]
	path = External/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/microprofile"]
	path = External/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "External/SDL3"]
	path = External/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/Rtxtf-Library"]
	path = External/Rtxtf
	url = https://github.com/NVIDIA-RTX/RTXTF-Library.git
[submodule "External/streamline"]
	path = External/streamline
	url = https://github.com/NVIDIA-RTX/Streamline.git
[submodule "External/meshoptimizer"]
	path = External/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "External/stdexec"]
	path = External/stdexec
	url = https://github.com/NVIDIA/stdexec.git
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "External/RTXCR-Material"]
	path = External/RTXCR-Material
	url = https://github.com/NVIDIA-RTX/RTXCR-Material-Library.git
[submodule "External/RTXCR-Assets"]
	path = External/RTXCR-Assets
	url = https://github.com/NVIDIA-RTX/RTXCR-Assets.git
[submodule "External/RTXCR-Geometry"]
	path = External/RTXCR-Geometry
	url = https://github.com/NVIDIA-RTX/RTXCR-Geometry-Library.git
[submodule "External/OpenUSD"]
	path = External/OpenUSD
	url = https://github.com/PixarAnimationStudios/OpenUSD.git
[submodule "External/oneTBB"]
	path = External/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
